.cards-accessories {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    img{
        width: clamp( 9rem , 20vw , 12.5rem);
    }

    p{
        margin-top: 16px;
        color: $color-light-gray;
        font-weight: bold;
        width: 198px;
        text-align: center;
    }
}