.container-button{
    width: clamp(11rem , 15vw , 13.125rem);
    height: 48px;
    background-color: $color-red;
    border-radius: 8px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-white;
    font-weight: bolder;
}