.container-page-home {
    width: 100%;
    height: 100%;

    .container-celebration {
        display: flex;
        gap: 12px;
        align-items: center;

        h2 {
            font-weight: 500;
        }
    }

    .container-navbar {
        display: flex;
        background-color: $color-beige;
        height: 80px;
        width: 100%;
        padding-left: 112px;
        padding-right: 112px;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;

        nav {
            ul {
                display: flex;
                gap: 51px;

                li {
                    list-style: none;
                    font-weight: 500;
                    cursor: pointer;
                    transition: .4s ease;
                    padding: 13px;
                    display: flex;
                    align-items: center;
                    border-radius: 8px;
                }

                li:hover {
                    background-color: #ffb6a0;
                }
            }
        }
    }

    .container-greetings {
        width: 100%;
        height: 650px;
        background-color: $color-beige;
        padding-left: 112px;
        padding-right: 112px;
        display: flex;
        justify-content: space-between;
        align-items: center;



        .greetings {

            width: max-content;


            h1 {
                font-size: clamp(2.4rem, 3.5vw, 3rem);
                width: 450px;
                margin-bottom: 24px;
            }

            p {
                margin-bottom: 40px;
                width: 444px;
            }
        }

        .container-image-hands {

            img {
                width: clamp(28rem, 40vw, 37.5rem);
            }
        }

        @media (max-width: $breakpoint-desktop) {

            .container-image-hands {
                display: none;
            }

            .greetings {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                h1 {
                    text-align: center;

                }

                p {
                    text-align: center;
                }
            }

        }

    }

    @media (max-width: $breakpoint-desktop) {
        .container-greetings {
            justify-content: center;
        }
    }

    .container-accessories {
        padding-left: 112px;
        padding-right: 112px;


        .accessories-presentation {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1 {
                font-size: 48px;
                text-align: center;
                margin-top: 56px;
            }

            p {
                text-align: center;
                color: $color-grey;
                margin-top: 24px;
                width: 437px;
            }
        }


        .container-cards-accessories {
            margin-top: 32px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 70px;
            flex-wrap: wrap;

        }

        @media (max-width: $breakpoint-medium) {

            .container-cards-accessories {
                justify-content: center;
            }

        }

    }

    .container-celebrate {
        background-color: $color-beige;
        padding-left: 112px;
        padding-right: 112px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 600px;

        .container-image-hands-with-gift{

            img{
                width: clamp(20rem , 26vw , 25rem);
            }
        }

        .celebrate {
            width: max-content;
            height: max-content;

            h1 {
                font-size: 48px;
                width: 488px;
                margin-bottom: 24px;

            }

            p {
                width: 400px;
                margin-bottom: 32px;
            }
        }
    }

    @media (max-width: $breakpoint-medium) {


    }

    footer {
        padding-left: 112px;
        padding-right: 112px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 40px;

        .container-contact {
            display: flex;
            gap: 40px;
        }
    }

}