.button-contact{
    width: 40px;
    height: 40px;
    background-color: $color-pink-gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;

    img{
        width: 25px;
        height: 25px;
    }
}